{% extends "admin/change_list.html" %}
{% load admin_static %}


{% block extrahead %}
{{ block.super }}

<style type="text/css">
#result_list tbody tr {
    display: none;
}

#result_list .tree_node_visible {
    display: table-row;
}

.tree_expand {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    text-indent: -1000em;
    margin: -1px 6px -2px 0;
    background: url({% static 'admin/img/selector-icons.gif' %}) 0 -161px no-repeat;
}

.tree_expanded .tree_expand {
    background: url({% static 'admin/img/selector-icons.gif' %}) 0 -83px no-repeat;
}

.tree_leaf {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    text-indent: -1000em;
    margin: 0 6px 0 0;
}

.tree_actions {
    display: none;
}

.tree_actions_up, .tree_actions_down, .tree_actions_left, .tree_actions_right {
    display: block;
    width: 16px;
    height: 16px;
    border: 0;
    float: left;
    text-indent: -1000em;
    margin: -1px 0 -2px 0;
}

.tree_actions_up {
    background: url({% static 'admin/img/selector-icons.gif' %}) 0 -5px no-repeat;
}
.tree_actions_down {
    background: url({% static 'admin/img/selector-icons.gif' %}) 0 -57px no-repeat;
}
.tree_actions_left {
    background: url({% static 'admin/img/selector-icons.gif' %}) 0 -109px no-repeat;
}
.tree_actions_right {
    background: url({% static 'admin/img/selector-icons.gif' %}) 0 -161px no-repeat;
}

</style>

<script type="text/javascript">
    var jQuery = django.jQuery;
</script>
<script src="{% static 'mptt_treechangelist/js/jquery.cookie.js' %}"></script>
<script src="{% static 'mptt_treechangelist/js/treechangelist.js' %}"></script>
<script type="text/javascript">
    jQuery.noConflict(true);
    TreeChangelist.csrf_token("{{ csrf_token }}");
    TreeChangelist.setup_structure({{ tree_structure|safe }});
</script>

<form id="tree_changelist_form" method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="_tree_action" value="move" />
    <input id="tree_changelist_form_node" type="hidden" name="node_id" value="" />
    <input id="tree_changelist_form_move" type="hidden" name="move" value="" />
</form>
{% endblock extrahead %}
